<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <div class="topnav" id="myTopnav">
    <% if (user) { %>
      <a href="/logout">Log Out</a>
      <a href="" class="active">Home</a>
      <a href="../trips/addTrip.ejs">Start A Trip</a>
      <a href="../trips/addDestination.ejs">Destinations</a>
      <% } else { %>
      <a href="/auth/google">Log In</a>
      <% } %>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>