<div class="info-box">
    <form action="/trips/<%= trip._id %>/notes" method="POST">
      <div class="row">
        <textarea name="note" id="note" cols="25" rows="15"></textarea>
      </div>
      <br>
      <div class="row">
        <input type="submit" value="Add Notes" >
      </div>
    </form>
</div>