<%- include('./partials/header')  %> 
<title>Trip Planner Home</title>
<body>  
<%- include('./partials/navbar')  %> 
<% if (user) { %>
    <h3>Hello <%= user.name %> </h3>
<% } else { %>
<% } %>
</body>
</html>