
/* Float four columns side by side */
.card-column {
    float: left;
    width: 100%;
    padding: 0 10px;
    margin: 15px;
}
  
/* Remove extra left and right margins, due to padding */
.card-row {
    margin: 0 -5px;
    display: inline-block;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #ccc;
    border-radius: 20px;
    overflow-wrap: break-word;
    min-width: 200px;
    border: 5px green solid;
}

.card-top-row {
    min-height: 100px;
    border-bottom: 5px green solid;
}

.card-bottom-row {
    min-height: 40px;
    padding: 10px 0;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .card-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }
    .card {
        min-width: 100px;
    }
    .card-row {
        margin: 0;
    }
}
  