<%- include('../partials/header')  %> 


<body>
  <%- include('../partials/navbar')  %> 
    
    <br>
    <br>
    <form action="/trips/" method="post">
      <label for="persons">People Going:</label>
      <input type="text" name="persons">
      <br>
      <label for="leave">Leave Date</label>
      <input type="date" name="leave">
      <br>
      <label for="return">Return Date:</label>
      <input type="date" name="return">
      <br>
      <input type="submit" value="Start A New Trip">
    </form>
    
      
    
  </body>


</html>
