<%- include('../partials/header')  %> 

<body>
  <%- include('../partials/navbar')  %> 
  
  <div class="info-box">
    <div class="div1">
      <label for="name">Trip Name:</label><br>
      <label for="person">People Going:</label><br>
      <label for="leave">Leave Date</label><br>
      <label for="return">Return Date:</label><br>
    </div>
    <div class="div2">
      <form action="/trips/" method="POST">
        <input type="text" name="name">
        <br>
        <input type="text" name="person" required>
        <br>
        <input type="date" name="leave">
        <br>
        <input type="date" name="return">
        <br>
        <input type="submit" value="Start Planning">
      </form>
    </div>
  </div>

  </body>
</html>
