<%- include('../partials/header')  %> 

<body>
  <%- include('../partials/navbar')  %> 
  
  <div class="info-box">
   
    <form action="/trips/" method="POST">
      <label for="name">Trip Name:</label>
      <input type="text" name="name" >
      <br>
      <label for="person">People Going:</label>
      <input type="text" name="person" required>
      <br>
      <label for="leave">Leave Date</label>
      <input type="date" name="leave">
      <br>
      <label for="return">Return Date:</label>
      <input type="date" name="return">
      <br>
      <input type="submit" value="Start Planning">
    </form>
  </div>

  </body>
</html>
